{
    "openapi": "3.0.0",
    "info": {
        "title": " Mojo Api",
        "description": "MOJO API Descrição",
        "contact": {
            "email": "wesleymotabr@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://back.mojosolutions.co/api/",
            "description": "Server Mojo"
        }
    ],
    "paths": {
        "/admin/dashboard": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Para gerar os dados necessários para a geração dos gráficos",
                "description": "{O type pode ser: participation, evaluation, initiativeCreated, initiativeCreatedByType initiativeCreatedByTags, interests, skills",
                "operationId": "dashboard",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type"
                                ],
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "type": {
                                                    "type": "integer"
                                                },
                                                "filters": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "tag": {
                                                                "type": "text"
                                                            },
                                                            "start_time": {
                                                                "type": "datetime"
                                                            },
                                                            "end_time": {
                                                                "type": "datetime"
                                                            },
                                                            "type": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "type": "skills",
                                    "filters": {
                                        "tag": "4",
                                        "start_time": "2020-03-13 21:55:38",
                                        "end_time": "2020-05-11 21:55:38",
                                        "type": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "quando as demais opções",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "indicator": {
                                                        "type": "number"
                                                    },
                                                    "period": {
                                                        "type": "datetime"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "indicator": 0,
                                            "period": "2020-03-13 21:55:38"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/communities": {
            "get": {
                "tags": [
                    "communities"
                ],
                "summary": "Get list of communities",
                "description": "Returns list of Communities",
                "operationId": "getcommunities",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "communities"
                ],
                "summary": "Add an communitie",
                "description": "Returns list of communities",
                "operationId": "add_communitie",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "img": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "test",
                                    "description": "teste",
                                    "img": "test"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/communities/{id}": {
            "get": {
                "tags": [
                    "communities"
                ],
                "summary": "Get an communitie",
                "description": "Returns list of communities",
                "operationId": "single_communitie",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "put": {
                "tags": [
                    "communities"
                ],
                "summary": "Edit an communitie",
                "description": "Returns list of communities",
                "operationId": "update_communitie",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "img": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "test",
                                    "description": "teste",
                                    "img": "test"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "com"
                ],
                "summary": "Delete an communitie",
                "description": "Returns list of communities",
                "operationId": "delete_community",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/communities/subscribecontent": {
            "post": {
                "tags": [
                    "communities"
                ],
                "summary": "Add a content to a community",
                "description": "Add a content to a community",
                "operationId": "add_community_content",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content_id",
                                    "community_id"
                                ],
                                "properties": {
                                    "content_id": {
                                        "type": "integer"
                                    },
                                    "community_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "content_id": 1,
                                    "community_id": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/communities/subscribeevent": {
            "post": {
                "tags": [
                    "communities"
                ],
                "summary": "Add a event to a community",
                "description": "Add a event to a community",
                "operationId": "add_community_event",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "event_id",
                                    "community_id"
                                ],
                                "properties": {
                                    "event_id": {
                                        "type": "integer"
                                    },
                                    "community_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "event_id": 1,
                                    "community_id": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/communities/subscribeuser": {
            "post": {
                "tags": [
                    "communities"
                ],
                "summary": "Subscribe an user in a community",
                "description": "Subscribe an user in a community",
                "operationId": "subscribe_community_user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "community_id",
                                    "is_admin"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "community_id": {
                                        "type": "integer"
                                    },
                                    "is_admin": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "user_id": 1,
                                    "community_id": 1,
                                    "is_admin": true
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/communities/subscribemyself": {
            "post": {
                "tags": [
                    "communities"
                ],
                "summary": "Subscribe logged user in a community",
                "description": "Subscribe logged user in a community",
                "operationId": "subscribe_community_myself",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "community_id"
                                ],
                                "properties": {
                                    "community_id": {
                                        "type": "integer"
                                    },
                                    "is_admin": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "user_id": 1,
                                    "community_id": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get list of Events",
                "description": "Returns list of Evennts",
                "operationId": "getEvents",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Add an Event",
                "description": "Returns list of Events",
                "operationId": "add_event",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "title",
                                    "code",
                                    "category",
                                    "start_time",
                                    "end_time",
                                    "location",
                                    "description",
                                    "img",
                                    "value",
                                    "recurrence"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "start_time": {
                                        "type": "datetime"
                                    },
                                    "end_time": {
                                        "type": "datetime"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "img": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "double"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "tags": {
                                        "type": "string"
                                    },
                                    "recurrence": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "type": 1,
                                    "title": "olg",
                                    "code": "#a101",
                                    "category": "1",
                                    "start_time": "2019-12-28 20:45:12",
                                    "end_time": "2019-08-30 23:05:12",
                                    "location": "Carrin",
                                    "description": "legal",
                                    "img": null,
                                    "value": 10,
                                    "user_id": 1,
                                    "tags": "teste, feliz, sad, test",
                                    "recurrence": "monthly"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/events/{id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get an Event",
                "description": "Returns list of Events",
                "operationId": "single_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "put": {
                "tags": [
                    "Events"
                ],
                "summary": "Edit an Event",
                "description": "Returns list of Events",
                "operationId": "update_event",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "title",
                                    "code",
                                    "category",
                                    "start_time",
                                    "end_time",
                                    "location",
                                    "description",
                                    "img",
                                    "value",
                                    "recurrence"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "start_time": {
                                        "type": "datetime"
                                    },
                                    "end_time": {
                                        "type": "datetime"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "img": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "double"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "tags": {
                                        "type": "string"
                                    },
                                    "recurrence": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "type": 1,
                                    "title": "olg",
                                    "code": "#a101",
                                    "category": "1",
                                    "start_time": "2019-12-28 20:45:12",
                                    "end_time": "2019-08-30 23:05:12",
                                    "location": "Carrin",
                                    "description": "legal",
                                    "img": null,
                                    "value": 10,
                                    "user_id": 1,
                                    "tags": "teste, feliz, sad, test",
                                    "recurrence": "monthly"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Events"
                ],
                "summary": "Delete an Event",
                "description": "Returns list of Events",
                "operationId": "delete_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Home",
                "operationId": "home",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "eventsForHome": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "eventsForHome": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/alta": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Return top events ",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "alta": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "alta": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/proximas": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Return next Events",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "proximas": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "proximas": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/held": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Return the events held",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "events": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "events": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/byme": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "byme",
                "description": "Return events that I've created",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "events": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "events": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/home/going": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Return the going events",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "events": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "events": [
                                                {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-02-27 22:24:53",
                                                    "end_time": "2020-02-28 00:24:53",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                },
                                                {
                                                    "id": 8,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": "INNOVATION TECHNIQUES TRAINING",
                                                    "code": "#2",
                                                    "start_time": "2020-02-20 22:24:53",
                                                    "end_time": "2020-02-21 00:24:53",
                                                    "location": "SALA 5",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "2",
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": null,
                                                    "updated_at": null,
                                                    "users_confirmed_count": 0,
                                                    "confirm_status": false,
                                                    "interest_status": false
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/mynotifications": {
            "get": {
                "tags": [
                    "mynotification"
                ],
                "summary": "My Notifications",
                "description": "Nesta rota, eu estou retornando o último evento adicionado com as tags dele e retornando os eventos que ele não avaliou",
                "operationId": "mynotification",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "LastEvent": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "eventsWithoutRate": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "data": {
                                            "LastEvent": {
                                                "id": 7,
                                                "type": 1,
                                                "category": "teste",
                                                "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                "code": "#1",
                                                "start_time": "2020-03-14 11:05:55",
                                                "end_time": "2020-03-14 13:05:55",
                                                "location": "SALA 2",
                                                "description": "",
                                                "recurrence": "none",
                                                "img": "1",
                                                "value": 10,
                                                "user_id": 1,
                                                "event_id": null,
                                                "boost": 0,
                                                "created_at": null,
                                                "updated_at": null
                                            },
                                            "eventsWithoutRate": [
                                                {
                                                    "id": 15,
                                                    "type": 1,
                                                    "category": "1",
                                                    "title": "olg",
                                                    "code": "#a101",
                                                    "start_time": "2019-12-28 20:45:12",
                                                    "end_time": "2019-08-30 23:05:12",
                                                    "location": "Carrin",
                                                    "description": "legal",
                                                    "recurrence": "monthly",
                                                    "img": null,
                                                    "value": 10,
                                                    "user_id": 1,
                                                    "event_id": null,
                                                    "boost": 0,
                                                    "created_at": "2020-03-02 22:47:29",
                                                    "updated_at": "2020-03-02 22:47:29",
                                                    "pivot": {
                                                        "user_id": 1,
                                                        "event_id": 15
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/invitation": {
            "post": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Adiciona um novo convite para um usuário em um evento",
                "description": "Receiver é o convidado do evento",
                "operationId": "add_invitation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "receiver_id",
                                    "event_id"
                                ],
                                "properties": {
                                    "receiver_id": {
                                        "type": "integer"
                                    },
                                    "event_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "receiver_id": 10,
                                    "event_id": 10
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/myInvitations": {
            "get": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Retorna os convites do usuário logado",
                "description": "",
                "operationId": "get_user_invitations",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/invitation/event/{id}": {
            "get": {
                "tags": [
                    "Invitations"
                ],
                "summary": "Retorna os convites de acordo com o id do evento",
                "description": "",
                "operationId": "get_invitations_by_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/notifications/": {
            "get": {
                "tags": [
                    "notifications"
                ],
                "summary": "Notifications",
                "description": "Retornando as notificações do usuério e removendo os convites desatualizados, ordenados pela ordem de criação",
                "operationId": "notifications",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "notifications": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "read": {
                                                        "type": "boolean"
                                                    },
                                                    "event_id": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
                                                                    "type": "integer"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "code": {
                                                                    "type": "string"
                                                                },
                                                                "category": {
                                                                    "type": "string"
                                                                },
                                                                "start_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "end_time": {
                                                                    "type": "datetime"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "img": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "double"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tags": {
                                                                    "type": "string"
                                                                },
                                                                "recurrence": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object",
                                    "example": {
                                        "notifications": [
                                            {
                                                "id": 2,
                                                "user_id": 1,
                                                "event_id": {
                                                    "id": 7,
                                                    "type": 1,
                                                    "category": "teste",
                                                    "title": " LUNCH ‘N’ LEARN – MERO 2",
                                                    "code": "#1",
                                                    "start_time": "2020-03-03 17:58:25",
                                                    "end_time": "2020-03-04 19:58:25",
                                                    "location": "SALA 2",
                                                    "description": "",
                                                    "recurrence": "none",
                                                    "img": "1",
                                                    "value": 10,
                                                    "user_id": 1,
[...]
