{
    "openapi": "3.0.0",
    "info": {
        "title": "L5 OpenApi",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "darius@matulionis.lt"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "L5 Swagger OpenApi dynamic host server"
        },
        {
            "url": "https://localhost:8000/api/",
            "description": "L5 Swagger OpenApi Server"
        }
    ],
    "paths": {
        "/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get list of Events",
                "description": "Returns list of Evennts",
                "operationId": "getEvents",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Add an Event",
                "description": "Returns list of Events",
                "operationId": "add_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/events/{id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get an Event",
                "description": "Returns list of Events",
                "operationId": "single_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "put": {
                "tags": [
                    "Events"
                ],
                "summary": "Edit an Event",
                "description": "Returns list of Events",
                "operationId": "update_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Events"
                ],
                "summary": "Delete an Event",
                "description": "Returns list of Events",
                "operationId": "delete_event",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get list of users",
                "description": "Returns list of Users",
                "operationId": "getusers",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Add an user",
                "description": "Returns list of users",
                "operationId": "add_user",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get an user",
                "description": "Returns list of users",
                "operationId": "single_user",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "Edit an user",
                "description": "Returns list of users",
                "operationId": "update_user",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "Delete an user",
                "description": "Returns list of users",
                "operationId": "delete_user",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/tags": {
            "get": {
                "tags": [
                    "tags"
                ],
                "summary": "Get list of tags",
                "description": "Returns list of tags",
                "operationId": "gettags",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "tags"
                ],
                "summary": "Add an tag",
                "description": "Returns list of tags",
                "operationId": "add_tag",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/tags/{id}": {
            "get": {
                "tags": [
                    "tags"
                ],
                "summary": "Get an tag",
                "description": "Returns list of tags",
                "operationId": "single_tag",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "put": {
                "tags": [
                    "tags"
                ],
                "summary": "Edit an tag",
                "description": "Returns list of tags",
                "operationId": "update_tag",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            },
            "delete": {
                "tags": [
                    "tags"
                ],
                "summary": "Delete an tag",
                "description": "Returns list of tags",
                "operationId": "delete_tag",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/participation": {
            "post": {
                "tags": [
                    "participation"
                ],
                "summary": "Confirm your participation",
                "description": "Confirm a participation of an user",
                "operationId": "confirmation_participation",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/participation/rate": {
            "post": {
                "tags": [
                    "participation"
                ],
                "summary": "Rate your participation in an event",
                "description": "Returns your rate in the event",
                "operationId": "rate_participation",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/transaction/{id}": {
            "get": {
                "tags": [
                    "transaction"
                ],
                "summary": "Get an user transaction",
                "description": "Returns users transactions",
                "operationId": "get_users_transactions",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/transaction": {
            "post": {
                "tags": [
                    "transaction"
                ],
                "summary": "Add an user",
                "description": "Add a transaction",
                "operationId": "add_transaction",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/home/{id}": {
            "get": {
                "tags": [
                    "home"
                ],
                "summary": "Home",
                "description": "Home",
                "operationId": "home",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Events",
            "description": "Everything about your Events",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        },
        {
            "name": "users",
            "description": "Everything about your users",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        },
        {
            "name": "tags",
            "description": "Everything about your tags",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        },
        {
            "name": "participation",
            "description": "Everything about your participations"
        },
        {
            "name": "transaction",
            "description": "Everything about your transactions"
        },
        {
            "name": "home",
            "description": "Home"
        }
    ]
}